[Desktop Entry]
Name=Halo 1 CE
Comment=Start the fight.
Exec=halo1pc %U
Icon=net.bungie.Halo1ce
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
Categories=Game;FPS;
Keywords=Halo
