[Desktop Entry]
Name=Halo 1 PC
Comment=Start the fight.
Exec=hpc %U
Icon=net.bungie.HPC
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
Categories=Game;FPS;
Keywords=Halo
